* {
  margin: 0%;
  padding: 0%;
}
body{
  overflow:hidden;
  animation: shakeScreen infinite linear 2s;
}
.sky {
  background-image: url(img/background.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.tree {
  height: 100vh;
  width: 100%;
  background-image: url(img/trees.png);
  top: 0px;
  background-size: cover;
  position: relative;
}
.track {
  height: 60vh;
  width: 800vw;
  background-image: url(img/track.png);
  background-repeat: repeat-x;
  position: absolute;
  animation:trackMove linear infinite 10s;
}

.car {
  height: 100px;
  width: 380px;
  background-image: url(img/car_body.png);
  background-size: cover;
  position: absolute;
  /* bottom:30vh; */
  left: 200px;
}
.wheel1 img {
  position: relative;
  width: 75px;
  left: 42px;
  top: 40px;
  animation-name:wheelRotation;
  animation-duration: .16s;
  animation-iteration-count: infinite;
  animation-duration: linear;
}
.wheel2 img {
  position: relative;
  width: 75px;
  left: 237px;
  top:-40px;
  animation-name:wheelRotation;
  animation-duration: .16s;
  animation-iteration-count: infinite;
  animation-duration: linear;
}

@keyframes wheelRotation{
  100%{
    transform:rotate(360deg);
  }
}
@keyframes trackMove{
  100%{
    transform:translateX(-500vw);
  }
}
@keyframes shakeScreen{
  0%{
    transform:translateY(-50px);
  }
  50%{
    transform:translateY(50px);
  }
  100%{
    transform:translateY(-50px);
  }

}